/* ==== Google font ==== */
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 100;
	src: local('Lato Hairline'), local('Lato-Hairline'), url(../fonts/loto/GtRkRNTnri0g82CjKnEB0Q.woff2) format('woff2');
	}
	@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
	src: local('Lato Light'), local('Lato-Light'), url(../fonts/loto/EsvMC5un3kjyUhB9ZEPPwg.woff2) format('woff2');
	}
	@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: local('Lato Regular'), local('Lato-Regular'), url(../fonts/loto/1YwB1sO8YE1Lyjf12WNiUA.woff2) format('woff2');
	}
	@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	src: local('Lato Bold'), local('Lato-Bold'), url(../fonts/loto/H2DMvhDLycM56KNuAtbJYA.woff2) format('woff2');
	}
	@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 900;
	src: local('Lato Black'), local('Lato-Black'), url(../fonts/loto/tI4j516nok_GrVf4dhunkg.woff2) format('woff2');
	}
	@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 100;
	src: local('Lato Hairline Italic'), local('Lato-HairlineItalic'), url(../fonts/loto/9TBVFLzQ3GUZLG8FZ4yrEfesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
	}
	@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 300;
	src: local('Lato Light Italic'), local('Lato-LightItalic'), url(../fonts/loto/2HG_tEPiQ4Z6795cGfdivFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
	}
	@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 400;
	src: local('Lato Italic'), local('Lato-Italic'), url(../fonts/loto/PLygLKRVCQnA5fhu3qk5fQ.woff2) format('woff2');
	}
	@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 700;
	src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(../fonts/loto/HkF_qI1x_noxlxhrhMQYEFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
	}
	@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 900;
	src: local('Lato Black Italic'), local('Lato-BlackItalic'), url(../fonts/loto/VNUH7ZAcagYBWsAiBBCEY1tXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
	}

	body {
	width: 100%;
	height: 100%;
	font-family: 'Lato',sans-serif;
	font-weight: 300;
	color: #666;
	}

	html {
	width: 100%;
	height: 100%;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
	margin: 0 0 30px;
	text-transform: uppercase;
	font-family: Montserrat,sans-serif;
	font-weight: 700;
	letter-spacing: 1px;
	}

	p {
	margin: 0 0 20px;
	font-size: 16px;
	line-height: 1.6em;
	}

	p.lead {
	font-weight: 600;
	}

	a {
	color: #EB5D1E;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	}

	a:hover,
	a:focus {
	text-decoration: none;
	color: #EB5D1E;
	}

	.light {
	font-weight: 400;
	}

	address {
	margin-left: 0;
	padding: 0;
	}


	/* misc */
	hr {
	margin-top: 10px;
	}

	/* margins */
	.marginbot-0{margin-bottom:0 !important;}
	.marginbot-10{margin-bottom:10px !important;}
	.marginbot-20{margin-bottom:20px !important;}
	.marginbot-30{margin-bottom:30px !important;}
	.marginbot-40{margin-bottom:40px !important;}
	.marginbot-50{margin-bottom:50px !important;}

	/* ===========================
	--- General sections
	============================ */

	.home-section {
	padding-top: 110px;
	padding-bottom: 110px;
	display:block;
	position:relative;
	z-index:120;
	}


	.section-heading h2 {
	font-size: 40px;
	}
	.section-heading i {
	margin-bottom: 20px;
	}


	/* --- section bg var --- */

	.bg-white {
	background: #fff;
	}

	.bg-gray {
	background: #f8f8f8;
	}


	.bg-dark {
	background: #575757;
	}

	/* --- section color var --- */

	.text-light {
	color: #fff;
	}

	/* ============================
	--- Menu
	============================= */

	@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'ecoicons';
	src: url("../fonts/ecoicons/ecoicons.eot");
	src: url("../fonts/ecoicons/ecoicons.eot?#iefix") format("embedded-opentype"), url("../fonts/ecoicons/ecoicons.woff") format("woff"), url("../fonts/ecoicons/ecoicons.ttf") format("truetype"), url("../fonts/ecoicons/ecoicons.svg#ecoicons") format("svg");
	}

	.gn-menu-main,
	.gn-menu-main ul {
	margin: 0;
	padding: 0;
	color: #eb5d1e;
	list-style: none;
	text-transform: none;
	font-weight: 300;
	font-family: 'Lato', Arial, sans-serif;
	line-height: 60px;
	z-index:150;
	}

	.gn-menu-main {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	font-size: 13px;
	}

	.gn-menu-main a {
	display: block;
	height: 100%;
	color: #eb5d1e;
	text-decoration: none;
	cursor: pointer;
	}

	.no-touch .gn-menu-main a:hover,
	.no-touch .gn-menu li.gn-search-item:hover,
	.no-touch .gn-menu li.gn-search-item:hover a {
	background: #eb5d1e;
	color: white;
	}

	.gn-menu-main > li {
	display: block;
	float: left;
	height: 100%;
	text-align: center;
	}

	/* icon-only trigger (menu item) */

	.gn-menu-main li.gn-trigger {
	position: relative;
	width: 60px;
	background: rgba(94,94,94,1);
	background: -moz-linear-gradient(left, rgba(94,94,94,1) 0%, rgba(54,54,54,1) 0%, rgba(0,0,0,1) 0%, rgba(36,36,36,0.93) 80%, rgba(98,96,97,0.91) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(94,94,94,1)), color-stop(0%, rgba(54,54,54,1)), color-stop(0%, rgba(0,0,0,1)), color-stop(80%, rgba(36,36,36,0.93)), color-stop(100%, rgba(98,96,97,0.91)));
	background: -webkit-linear-gradient(left, rgba(94,94,94,1) 0%, rgba(54,54,54,1) 0%, rgba(0,0,0,1) 0%, rgba(36,36,36,0.93) 80%, rgba(98,96,97,0.91) 100%);
	background: -o-linear-gradient(left, rgba(94,94,94,1) 0%, rgba(54,54,54,1) 0%, rgba(0,0,0,1) 0%, rgba(36,36,36,0.93) 80%, rgba(98,96,97,0.91) 100%);
	background: -ms-linear-gradient(left, rgba(94,94,94,1) 0%, rgba(54,54,54,1) 0%, rgba(0,0,0,1) 0%, rgba(36,36,36,0.93) 80%, rgba(98,96,97,0.91) 100%);
	background: linear-gradient(to right, rgba(94,94,94,1) 0%, rgba(54,54,54,1) 0%, rgba(0,0,0,1) 0%, rgba(36,36,36,0.93) 80%, rgba(98,96,97,0.91) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e5e5e', endColorstr='#626061', GradientType=1 );
	}
	.inner-page{
	background: rgba(94,94,94,1);
	background: -moz-linear-gradient(top, rgba(94,94,94,1) 0%, rgba(54,54,54,1) 0%, rgba(0,0,0,1) 0%, rgba(36,36,36,0.93) 80%, rgba(98,96,97,0.91) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(94,94,94,1)), color-stop(0%, rgba(54,54,54,1)), color-stop(0%, rgba(0,0,0,1)), color-stop(80%, rgba(36,36,36,0.93)), color-stop(100%, rgba(98,96,97,0.91)));
	background: -webkit-linear-gradient(top, rgba(94,94,94,1) 0%, rgba(54,54,54,1) 0%, rgba(0,0,0,1) 0%, rgba(36,36,36,0.93) 80%, rgba(98,96,97,0.91) 100%);
	background: -o-linear-gradient(top, rgba(94,94,94,1) 0%, rgba(54,54,54,1) 0%, rgba(0,0,0,1) 0%, rgba(36,36,36,0.93) 80%, rgba(98,96,97,0.91) 100%);
	background: -ms-linear-gradient(top, rgba(94,94,94,1) 0%, rgba(54,54,54,1) 0%, rgba(0,0,0,1) 0%, rgba(36,36,36,0.93) 80%, rgba(98,96,97,0.91) 100%);
	background: linear-gradient(to bottom, rgba(94,94,94,1) 0%, rgba(54,54,54,1) 0%, rgba(0,0,0,1) 0%, rgba(36,36,36,0.93) 80%, rgba(98,96,97,0.91) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e5e5e', endColorstr='#626061', GradientType=0 );
	}
	.gn-menu-main > li:last-child {
	border-right: none;
	float: right;
	font-size: 15px;
	width: 10%;
	}
	.gn-menu-main > li:last-child .fa{
	padding:0 5%;
	}

	.gn-menu-main > li > a {
	padding: 0 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	}

	.gn-menu-main:after {
	display: table;
	clear: both;
	content: "";
	}

	.gn-menu-wrapper {
	position: fixed;
	top: 60px;
	bottom: 0;
	left: 0;
	overflow: hidden;
	width: 60px;
	border-top: 1px solid #c6d0da;
	-webkit-transform: translateX(-60px);
	-moz-transform: translateX(-60px);
	transform: translateX(-60px);
	-webkit-transition: -webkit-transform 0.3s, width 0.3s;
	-moz-transition: -moz-transform 0.3s, width 0.3s;
	transition: transform 0.3s, width 0.3s;
	background: rgba(94,94,94,1);
	background: -moz-linear-gradient(left, rgba(94,94,94,1) 0%, rgba(54,54,54,1) 0%, rgba(0,0,0,1) 0%, rgba(36,36,36,0.93) 80%, rgba(98,96,97,0.91) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(94,94,94,1)), color-stop(0%, rgba(54,54,54,1)), color-stop(0%, rgba(0,0,0,1)), color-stop(80%, rgba(36,36,36,0.93)), color-stop(100%, rgba(98,96,97,0.91)));
	background: -webkit-linear-gradient(left, rgba(94,94,94,1) 0%, rgba(54,54,54,1) 0%, rgba(0,0,0,1) 0%, rgba(36,36,36,0.93) 80%, rgba(98,96,97,0.91) 100%);
	background: -o-linear-gradient(left, rgba(94,94,94,1) 0%, rgba(54,54,54,1) 0%, rgba(0,0,0,1) 0%, rgba(36,36,36,0.93) 80%, rgba(98,96,97,0.91) 100%);
	background: -ms-linear-gradient(left, rgba(94,94,94,1) 0%, rgba(54,54,54,1) 0%, rgba(0,0,0,1) 0%, rgba(36,36,36,0.93) 80%, rgba(98,96,97,0.91) 100%);
	background: linear-gradient(to right, rgba(94,94,94,1) 0%, rgba(54,54,54,1) 0%, rgba(0,0,0,1) 0%, rgba(36,36,36,0.93) 80%, rgba(98,96,97,0.91) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e5e5e', endColorstr='#626061', GradientType=1 );
	}

	.gn-scroller {
	position: absolute;
	overflow-y: scroll;
	width: 370px;
	height: 100%;
	}

	.gn-menu {
	border-bottom: 1px solid #c6d0da;
	text-align: left;
	font-size: 18px;
	}

	.gn-menu li:not(:first-child),
	.gn-menu li li {
	box-shadow: inset 0 1px #c6d0da
	}

	.gn-submenu li {
	overflow: hidden;
	height: 0;
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	transition: height 0.3s;
	}

	.gn-submenu li a {
	color: #c1c9d1
	}

	input.gn-search {
	position: relative;
	z-index: 10;
	padding-left: 60px;
	outline: none;
	border: none;
	background: transparent;
	color: #eb5d1e;
	font-weight: 300;
	font-family: 'Lato', Arial, sans-serif;
	cursor: pointer;
	}

	/* placeholder */

	.gn-search::-webkit-input-placeholder {
	color: #eb5d1e
	}

	.gn-search:-moz-placeholder {
	color: #eb5d1e
	}

	.gn-search::-moz-placeholder {
	color: #eb5d1e
	}

	.gn-search:-ms-input-placeholder {
	color: #eb5d1e
	}

	/* hide placeholder when active in Chrome */

	.gn-search:focus::-webkit-input-placeholder,
	.no-touch .gn-menu li.gn-search-item:hover .gn-search:focus::-webkit-input-placeholder {
	color: transparent
	}

	input.gn-search:focus {
	cursor: text
	}

	.no-touch .gn-menu li.gn-search-item:hover input.gn-search {
	color: white
	}

	/* placeholder */

	.no-touch .gn-menu li.gn-search-item:hover .gn-search::-webkit-input-placeholder {
	color: white
	}

	.no-touch .gn-menu li.gn-search-item:hover .gn-search:-moz-placeholder {
	color: white
	}

	.no-touch .gn-menu li.gn-search-item:hover .gn-search::-moz-placeholder {
	color: white
	}

	.no-touch .gn-menu li.gn-search-item:hover .gn-search:-ms-input-placeholder {
	color: white
	}

	.gn-menu-main a.gn-icon-search {
	position: absolute;
	top: 0;
	left: 0;
	height: 60px;
	}

	.gn-icon::before {
	display: inline-block;
	width: 60px;
	text-align: center;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'ecoicons';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
	}

	.gn-icon-help::before {
	content: "\e000"
	}

	.gn-icon-earth::before {
	content: "\e004"
	}

	.gn-icon-cog::before {
	content: "\e006"
	}

	.gn-icon-search::before {
	content: "\e005"
	}

	.gn-icon-download::before {
	content: "\e007"
	}

	.gn-icon-photoshop::before {
	content: "\e001"
	}

	.gn-icon-illustrator::before {
	content: "\e002"
	}

	.gn-icon-archive::before {
	content: "\e00d"
	}

	.gn-icon-article::before {
	content: "\e003"
	}

	.gn-icon-pictures::before {
	content: "\e008"
	}

	.gn-icon-videos::before {
	content: "\e009"
	}

	/* if an icon anchor has a span, hide the span */

	.gn-icon span {
	width: 0;
	height: 0;
	display: block;
	overflow: hidden;
	}

	.gn-icon-menu::before {
	margin-left: -15px;
	vertical-align: -2px;
	width: 30px;
	height: 3px;
	background: #eb5d1e;
	box-shadow: 0 3px white, 0 -6px #eb5d1e, 0 -9px white, 0 -12px #eb5d1e;
	content: '';
	}

	.no-touch .gn-icon-menu:hover::before,
	.no-touch .gn-icon-menu.gn-selected:hover::before {
	background: white;
	box-shadow: 0 3px #eb5d1e, 0 -6px white, 0 -9px #eb5d1e, 0 -12px white;
	}

	.gn-icon-menu.gn-selected::before {
	background: #eb5d1e;
	box-shadow: 0 3px white, 0 -6px #eb5d1e, 0 -9px white, 0 -12px #eb5d1e;
	}

	/* styles for opening menu */

	.gn-menu-wrapper.gn-open-all,
	.gn-menu-wrapper.gn-open-part {
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
	}

	.gn-menu-wrapper.gn-open-all {
	width: 200px;
	}

	.gn-menu-wrapper.gn-open-all .gn-submenu li {
	height: 60px
	}

	@media screen and (max-width: 422px) {
	.gn-menu-wrapper.gn-open-all {
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
	width: 100%;
	}

	.gn-menu-wrapper.gn-open-all .gn-scroller {
	width: 130%
	}
	}




	/* ===========================
	--- Intro
	============================ */

	.intro {
	width:100%;

	}

	#intro{
	background-image: url(../img/img-bg.png);
	background-size: cover;
	position: absolute;
	top: 0px;
	}
	#inner_bg{
	background-image: url(../img/main_bg.png);
	height:auto;
	}
	.content-section{background:#fff; padding-top:3%;}
	.container.content-section{position:relative; top:100px; }

	.intro .slogan {
	padding:200px 0 60px;
	text-align: center;

	}
	.intro .slogan h1 {
	color: #fff;
	line-height: 1.1em;
	margin-bottom: 20px;
	font-size: 40px;
	}
	.intro .slogan p {
	color: #eee;
	margin-bottom: 30px;
	font-size: 20px;
	}


	.brand-heading {
	font-size: 40px;
	}

	.intro-text {
	font-size: 18px;
	}


	.company-social {
	margin-left: 0;
	padding-left: 0;
	margin-top: 10px;
	}

	.company-social {
	text-align: left;
	}

	.company-social li{
	display: inline-block;
	margin-right:5px;
	padding:0;
	}


	.company-social a{
	margin:0;
	padding:0;
	display: block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border:1px solid;
	border-radius:50%;
	color: #fff;
	-webkit-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
	}
	.company-social a i{
	text-align: center;
	margin:0;
	padding:0;
	}
	.company-social .social-facebook a{background: #3873ae;}
	.company-social .social-twitter a{background: #62c6f8;}
	.company-social .social-dribble a{background: #d74980;}
	.company-social .social-deviantart a{background: #8da356;}
	.company-social .social-google a{background: #000;}
	.company-social .social-vimeo a{background: #51a6d3;}
	.company-social .social-facebook a:hover{background: #4893ce;}
	.company-social .social-twitter a:hover{background: #82e6ff;}
	.company-social .social-dribble a:hover{background: #f769a0;}
	.company-social .social-deviantart a:hover{background: #adc376;}
	.company-social .social-google a:hover{background: #333;}
	.company-social .social-vimeo a:hover{background: #71c6f3;}



	/* ===========================
	--- Footer
	============================ */

	footer {
	text-align: center;
	padding: 50px 0 ;

	}

	footer p {
	color: #f8f8f8;
	}

	footer a {
	color: #fefefe;
	}

	footer a:hover {
	color: #fff;
	}

	/* ===========================
	--- Elements
	============================ */

	#text {
	color: #fff;
	background: #ffcc00;
	}

	#map {
	height: 500px;
	}


	.btn-skin:hover,
	.btn-skin:focus,
	.btn-skin:active,
	.btn-skin.active {
	color: #fff;
	background-color: #666;
	border-color: #666;
	}

	/* Media queries */

	@media(min-width:767px) {

	.intro {
	height: 100%;
	padding: 0;
	}

	.brand-heading {
	font-size: 100px;
	}

	.intro-text {
	font-size: 25px;
	}


	}
	@media (max-width:768px) {

	.team.boxed-grey {
	margin-bottom: 30px;
	}

	.boxed-grey {
	margin-bottom: 30px;
	}
	.intro .slogan {
	padding:100px 0 60px;

	}

	}

	@media (max-width:480px) {

	.intro .slogan {
	padding:170px 0 60px;

	}

	}
	.home-search{width:500px;}
	.btn-skin{background-color: #eb5d1e;
	border-color: #eb5d1e;
	color: #fff;}
	.padding-left-none{
	padding-left:0px;
	}
	.padding-right-none{
	padding-right:0px;
	}
	.restaurant-list .restaurant-logo{
	float:left;
	}
	.restaurant-list strong, .restaurant-list .restaurant-short-price{
	display:block;
	text-align: left;
	}
	.clear{clear:both;}
	.restaurant-short-price strong{
	color: #000;
	display: inline;
	padding: 1%;
	}
	.restaurant-short-price{
	border-top:1px dashed #555;
	text-align:center;
	}
	.restaurant-list-block{min-height:200px;
	border-radius: 5px;
	box-shadow: 0 1px 3px #555;
	padding: 1%;
	margin-bottom:1%;
	}
	.restaurant-rate{text-align:center;}
	.restaurant-video img{ width:100%; height:140px;}
	.restaurant-thumb-images ul li{
	float: right;
	list-style: outside none none;
	width: 20%;
	}
	.restaurant-thumb-images ul li.video-review{
	width: 35%;
	}
	.restaurant-thumb-images ul li.thumbnail{
	margin-bottom: 0;
	margin-right: 5px;
	margin-top: 2px;
	}
	.restaurant-thumb-images ul li.thumbnail>a{
	color: #EB5D1E;
	}
	.restaurant-thumb-images ul li img{width:100%; margin-bottom: 0px;}
	.restaurant-image {width:100%;background:url("../img/restaurant-bg.jpg") no-repeat scroll 0 0 / cover ; height:450px; position:relative;top:40px; }
	.physical-location, .contact-details{padding:2% 0;}
	.physical-location small, .contact-details small{display:block;}
	.restaurant-reviews{height: 200px;}
	.restaurant-reviews footer{padding:0px;}
	.restaurant-reviews p{font-size:12px; margin:0 0 15px; }
	.restaurant-top-strip ul li{float: left;
	list-style: outside none none;
	width: 25%;
	}
	.restaurant-top-strip ul li a {
	display: flex;
	line-height: 27px;
	padding: 0;
	color: #eb5d1e;
	}
	.restaurant-top-strip ul{
	margin: 0;
	padding-left: 0;
	width: 100%;
	}
	.restaurant-videos ul, .restaurant-photos ul, .restaurant-menus ul{
	margin: 0;
	padding-left: 0;
	width: 100%;
	padding-bottom:1%;
	padding-top:1%;
	}
	.restaurant-videos > strong, .restaurant-photos > strong, .restaurant-menus > strong, .restaurant-menus strong{
	color:#000;
	}
	.restaurant-top-strip{float:left;width:100%;}
	.restaurant-videos ul li, .restaurant-photos ul li{
	float: left;
	list-style: outside none none;
	width: 20%;
	margin:3% 0;
	}
	.restaurant-videos ul li img, .restaurant-photos ul li img{width:95%;height: 75px;}
	.restaurant-videos strong span{color:red; }
	.list-menu{margin:5% 0;}
	.list-menu strong{line-height: 35px;}
	.list-menu li{border-top: 1px solid #a1a1a1;
	display: flex;
	list-style: outside none none;
	padding: 1.5% 0;}
	.list-menu .right > a{float:right;}
	.list-menu .left, .list-menu .middle, .list-menu .right{float:left;}
	.list-menu .left{width: 50%;}
	.list-menu .middle, .list-menu .right{width: 25%;}
	.restaurant-menus > strong{float:left;margin-bottom:2%;}
	.all-menu{border-top: 1px dotted #a1a1a1;
	padding: 4% 0 10%;
	text-align: center;}
	.all-menu > a {color: #eb5d1e;
	display: inline-flex;
	line-height: 22px;
	}
	.restaurant-image .restaurant-short-details{
	background: rgba(28, 23, 17, 0.7) none repeat scroll 0 0;
	border-radius: 5px;
	float: left;
	padding: 1%;
	position: absolute;
	top: 240px;
	width: 86%;
	color:#fff;
	}
	.restaurant-short-details a{color:#fff;}
	.restaurant-short-details strong a{color:#EB5D1E; font-size: 16px;}
	.all-dishes .restaurant-short-details a{color:#000;}
	.short_menu ul{padding-left:0px; }
	.short_menu ul li{display: inline-block;
	padding-right:3%;}
	.final_row_content_left{float:left;width:80%;}
	.final_row_content_right{float: left;
	text-align: center;
	width: 20%;
	}
	.restaurant-short-details .final_row_content_left > h3{margin-bottom: 2%;
	margin-top: 3%;}
	.all-dishes{margin-bottom:2%;}
	.all-dishes .final_row_content_left > h3{margin-top:0px; margin-bottom: 1%;}
	.all-dishes .short_menu{margin-top:2%; color:#000;}
	.all-dishes .final_row_content_left h3, .all-dishes .final_row_content_left h3 a{color:#eb5d1e;}
	.empty-cart{color: #eb5d1e;
	text-align: center;}
	.profile-img > strong{background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
		bottom: 35px;
		display: inline-block;
		padding: 2% 0;
		position: relative;
		text-align: center;
		width: 95%;
	}
	.profile-img > strong > a{color:#eb5d1e;}
	.profile-menu > ul{padding-left:0px;}
	.profile-menu > ul > li{border-top: 1px solid #a1a1a1;
		display: block;
		list-style: outside none none;
		padding: 2%;}
		.profile-menu > ul > li:hover{
			background:rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
		}
		.profile-menu > ul > li:hover a{
			color:#eb5d1e;
		}
		.profile-menu > ul > li.active{
			background:rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
		}
		.profile-menu > ul > li.active a{
			color:#eb5d1e;
		}

		.profile-menu > ul > li > a{color:#000; display:block;}
		.review-viewed .restaurant-logo img{width:25%; float:left;}
		.restaurant-review{float: left;
			margin-bottom: 5%;
			width: 100%;}
			.review-viewed {
				border-bottom: 1px dashed;
				padding: 5% 0;
			}
			footer {margin-top: 5%;
				padding: 50px 0 0;
				text-align: center;}
				.footer-section{height:60px; }
				.footer-left > ul > li{
					float: left;
					list-style: outside none none;
					}
					.footer-left > ul > li > a {color:#eb5d1e; }
					.footer-section{
						background: rgba(94,94,94,1);
						background: -moz-linear-gradient(top, rgba(94,94,94,1) 0%, rgba(54,54,54,1) 0%, rgba(0,0,0,1) 0%, rgba(36,36,36,0.93) 80%, rgba(98,96,97,0.91) 100%);
						background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(94,94,94,1)), color-stop(0%, rgba(54,54,54,1)), color-stop(0%, rgba(0,0,0,1)), color-stop(80%, rgba(36,36,36,0.93)), color-stop(100%, rgba(98,96,97,0.91)));
						background: -webkit-linear-gradient(top, rgba(94,94,94,1) 0%, rgba(54,54,54,1) 0%, rgba(0,0,0,1) 0%, rgba(36,36,36,0.93) 80%, rgba(98,96,97,0.91) 100%);
						background: -o-linear-gradient(top, rgba(94,94,94,1) 0%, rgba(54,54,54,1) 0%, rgba(0,0,0,1) 0%, rgba(36,36,36,0.93) 80%, rgba(98,96,97,0.91) 100%);
						background: -ms-linear-gradient(top, rgba(94,94,94,1) 0%, rgba(54,54,54,1) 0%, rgba(0,0,0,1) 0%, rgba(36,36,36,0.93) 80%, rgba(98,96,97,0.91) 100%);
						background: linear-gradient(to bottom, rgba(94,94,94,1) 0%, rgba(54,54,54,1) 0%, rgba(0,0,0,1) 0%, rgba(36,36,36,0.93) 80%, rgba(98,96,97,0.91) 100%);
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e5e5e', endColorstr='#626061', GradientType=0 );
					}
					.footer-section .footer-right{float:right;}
	nav.gn-menu-wrapper ul.gn-menu .fa{width: 60px; text-align: center;}
	nav.gn-menu-wrapper ul.gn-menu li>a{font-size: 15px;}
	.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background: #EB5D1E !important;}
	.company-social-home{position: absolute; bottom: 20px; right: 10px;}
	#Login, #Register, #Forgot, #Success{width: 100%;}
	/*----------- login popup -----------------*/
	#Login span.or{
	display: block;
	text-align: center;
	margin-top: 2%;
	}
	.login-panel .input-group,
	.remember,
	.registration-panel .input-group,
	#Forgot .input-group{
	margin: 2% 0 5% 0;
	}
	.login-panel .remember > a{color: #000;
	float: right;}
	#Login .not-a-member, #Register .is-a-member, #Forgot .is-a-member{color: #000;
	padding: 3% 0;
	text-align: center;}
	#Login h4, #Register h4, #Forgot h4, #Success h4, #OtpVerification h4{text-align: center;margin-bottom: 3%;color: #000;}
	label.error{
	bottom: -21px;
	color: red;
	font-family: cursive;
	font-size: 12px;
	font-weight: normal;
	left: 0;
	position: absolute;
	}
	#Login h4 small, #Register h4 small, #Forgot h4 small, #Success h4 small, #OtpVerification h4 small{
	font-size: 12px;
	}
	form#LoginPanel input.form-control, form#RegistrationPanel input.form-control{
	border-radius: 0px 5px 5px 0px !important;

	}
	#UserNameloader , #Emailloader{
	position: absolute;
	top: 3px;
	right: 20px;
	}
	.restaurant-list .restaurant-short-details{
	float: left;
	width: 60%;
	margin-left: 3%;
	}
	.restaurant-list .restaurant-logo{float: left;}
	.restaurant-list .restaurant-logo.thumbnail > img{height: 125px; width: 125px;}
	.write-review{
	margin-top:5%;
	}
	.write-review .restaurant-write-review .input>input[type='text']{
	width: 100%;
	}
	.write-review .restaurant-write-review .input{
	margin:3% 0;
	}
	#AddressBookAddressesForm .input-group, #AddressBookCheckoutForm .input-group,
	#UserEditProfileForm .input-group{
	margin: 2.5% 0;
	}
	.error-message{
	color:red;
	}
	.address-block .name{
	color: #eb5d1e;
	border-bottom: 1px solid rgb(193, 193, 193);
	padding: 2%;
	}
	.address-block .contact-details .email{float: left; clear: both;}
	.address-block .contact-details .contact{float: left; clear: both;}
	.address-block .address {clear: both;}
	.address-block .action{width: 20%; float: right;}
	.address-block .action a{
	padding: 2%;
	float: left;
	}
	.address-block .loader{height: 100%;
	left: 0;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	display: none;
	}
	.address-block .loader>img{left: 40%;
	position: absolute;
	top: 34%;}
	.confirmation{cursor: pointer;}
	.action .popover{width: 150px;}
	.action .popover-title{font-size: 12px !important;}
	.action .popover-content .btn-group{width: 100%}
	.list-menu .middle span{display: inherit;
	}
	.list-menu .middle span.full{padding-bottom: 8px;}
	.list-menu .middle span.half{padding-top: 8px;}
	.list-menu .right span{display: inherit;
	}
	.list-menu .right span.full{padding-bottom: 5px;}
	.list-menu .right span.half{padding-top: 5px;}
	.list-menu .middle span.half, .list-menu .right span.half{border-top: 1px dotted #eb5d1e;}
	.restaurant-write-review label.error{position: static; }
	.restaurant-reviews footer{text-align: left;}
	.restaurant-reviews .rating-md{font-size: 1em;}
	.cart-view > ul, ul.scrollmenu{
	padding: 0px;
	}
	.scrollmenu li:first-child{text-align: center;}
	ul.scrollmenu > li, .cart-view > ul > li{display: -moz-stack;
	list-style: outside none none;
	width: 100%;}
	ul.scrollmenu > li h4{color:#EB5D1E;}
	.your_order_content p{margin-bottom: 2%;}
	.your_order_content .ord{display: inline-block;width: 100%;}
	.your_order_content .ads, .your_order_content .cresssmall, .your_order_content .equal, .your_order_content .subtotal{float: left;}
	.your_order_content .totalrupees{float: right;}
	.ads span a {
	  background: #ebebeb none repeat scroll 0 0;
	  color: #777;
	  padding: 0 7px;
	}
	.ads span.add_count {
	  font-size: 14px;
	  padding: 0 5px;
	}
	.ord:hover .ads span a {
	  background: #EB5D1E;
	color: #fff;
	}
	.ord:hover .ads span.add_count {
	  background: #ededed;
	}
	li.items {
	  border-bottom: 1px dashed #c7c7c7;
	  padding: 2% 0;
	}
	.loading_bck{
		background: rgba(0, 0, 0, 0.1) url("../img/loading.gif") no-repeat scroll center center;
	}
	.cotegory-list {
	  margin-top: 5%;
	  width: 97%;
	}
	.cotegory-list ul {
	  padding-left: 0;
	}
	.cotegory-list > ul > li {
	  list-style: outside none none;
	}
	.list-menu .right {text-align: right;}
	.order-checkout{margin-bottom: 2%;padding:1% 0 !important;}
	.order-checkout .fa.fa-2x{
		width: 40px;
		color: #EB5D1E;
	}
	.order-checkout span{
		display: block;
	font-style: italic;
	margin-left: 12%;
	}
	.your-order-icon i, .your-order-icon p{float: left;margin-bottom:0px;}
	.delivery-address h4, .delivery-time h4{color: #EB5D1E;}
	.deliver-address-block .action {
	  float: left;
	  margin-right: 5%;
	  width: auto;
	}
	#signUp, #signIn, #forgot{cursor: pointer;}
	.page-title{
		margin-bottom: 1%;
	   color: #EB5D1E;
	   font-family:Montserrat,sans-serif;
   }
   .breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    padding-left: .5rem;
    color: #636c72;
    content: "/";
}
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
.alert-bad{
  float: left;
  padding-left: 2%;
  color: #CE5454;
  width: 100%;
  /* background-color: #eee;
  border: 1px solid #ccc; */
}
.input-addon {
  border-radius: 0 4px 4px 0 !important;
}
